* {
    box-sizing: border-box;    
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(92, 92, 92);
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
}

.chaos {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    min-width: 540px;
    height: calc(100vh - 16px);
   
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
            -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.chaos-header {
    border-radius: 0;
    padding: 2%;
    margin-top: 0;
    min-height: 55px;
    background-image: linear-gradient(to right, rgb(147, 15, 180), rgb(12, 71, 235)); 
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.chaos-wrapper {
   display: flex;
   flex-direction: column;
   height: calc( 100vh - 71px );
   background: linear-gradient(135deg, rgba(110, 110, 110, 0.075), rgba(255, 255, 255, 0.493));
}

.chaos-content {
    flex: 1 0 auto;
    padding: 2%;
    overflow-y: scroll;
    height: calc( 100vh - 166px );
}

.chaos-control {
    min-height: 75px;
    border-radius: 8px;
    flex: 0 0 auto;

    background: linear-gradient(135deg, rgb(77, 3, 248), rgba(241, 241, 241, 0.664));        
    margin: 10px;
    position: relative;
}

.chaos-control__create-post-text {
    width: calc(100% - 144px);
    height: 100%;
    padding: 2%;
    font-size: 16px;
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    background: linear-gradient(135deg, rgb(220, 214, 243), rgba(248, 247, 250, 0.507));
    resize: none;
    outline: none;
	-moz-appearance: none;
    overflow: hidden;
    margin: 0;
    border: none;
    border-radius: 4px;
}

.icon {
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: calc(50% - 15px);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.chaos-control__create-post-audio {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-foto.png');
    right: 5px;
    background-color: white;
}

.chaos-control__create-post-video {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-video.png');
    right: 40px;
    background-color: white;
}

.chaos-control__create-post-emoji {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-smile.png');
    right: 40px;
    background-color: white;
}

.chaos-control__create-post-add {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-add.png');
    right: 5px;
    background-color: white;
}

.chaos-control__create-post-geo {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-geo.png');
    right: 75px;
    background-color: white;
}

.chaos-control__create-post-geo.on {
    background-color: rgb(185, 178, 224);
}

.icon:hover {
    background-color: rgb(212, 212, 212);
}

.post {
    padding: 2%;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, rgb(236, 236, 236), rgba(243, 242, 242, 0.507));
    margin-bottom: 10px;
    position: relative;
}


.post-date {
    font-size: 12px;
    color: rgb(139, 139, 139);
    text-align: end;
    margin-bottom: 3px;
}

.post-geolacation {
    font-size: 12px;
    color: rgb(139, 139, 139);
    margin-top: 10px;
}

.chaos-header {
    position: relative;
}

.pined {
    background-color: rgb(185, 178, 224);
}

.chaos-pin  {
   position: fixed;
/*   background-color: rgb(138, 138, 139);
   padding: 2%;
   background: linear-gradient(135deg, rgb(236, 236, 236), rgba(243, 242, 242, 0.507));
 */
 background-color: rgb(185, 178, 224);
   background-image: url('../img/icons8-clip.png');
   position: absolute;
   width: 50px;
   height: 50px;
   top: 20px;
   right: 15px; 
   background-size: 30px 30px;
   background-repeat: no-repeat;
   background-position: center;
   z-index: 2;
}

.geo {
    display: inline-block;
    height: 16px;
    width: 15px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-geozone.png');
    vertical-align: bottom;
}

.hidden {
    display: none;
}

.clip {
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-BiueClip.png');
    position: absolute;
    width: 30px;
    height: 30px;
    color:rgb(92, 92, 92);
    bottom: 3px;
    right: 5px;
}

.delete {
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-delete-40.png');
    position: absolute;
    width: 30px;
    height: 30px;
    color:rgb(92, 92, 92);
    bottom: 3px;
    right: 35px;
}

.download-file {
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/icons8-download-40.png');
    position: absolute;
    width: 30px;
    height: 30px;
    color:rgb(92, 92, 92);
    bottom: 3px;
    right: 65px;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3764705882352941);
    top: 0;
    left: 0;
    z-index: 2;
}

.modal__wrapper {
    position: fixed;
    top: calc(50% - 83px);
    left: calc(50% - 210px);
    z-index: 2;
    background-color: #fdfdfd;
    width: 420px;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
            -8px -8px 12px 0 rgba(131, 129, 129, 0.3);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.modal__title {
    margin-top: 0;
    text-align: center;
}

.button {
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #fdfdfd;
    box-shadow: none;
    border: 0px;
    border-radius: 10px;
    height: 40px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 12px 12px 16px 0 rgba(107, 107, 107, 0.25),
    -8px -8px 12px 0 rgba(199, 199, 199, 0.3);
}

.button:hover {
    background-color: rgb(212, 212, 212);
}

.emoji-list {
    position: fixed;
    width: 140px;

    background-color: rgba(255, 255, 255, 0.863);
    z-index: 2;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    padding: 1%;
}

.file-input {
    display: none;
}

.image {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 20px;
}

.video {
    max-width: 100%;
}

.drag {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color:  rgba(41, 41, 41, 0.562);
}

.drag__area {

    width: 70%;
    max-width: 600px;
    height: 70%;


    margin: auto;
    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px ;
    background-size: 25px;
    background-color: rgb(236, 236, 236);
    background-image: url('/src/img/icons8-download-40.png');
    background-repeat: no-repeat;
    background-position: center;
    outline: 3px dashed rgb(140, 172, 207); 
    outline-offset: -30px; 
}

.drag___area-text {
    margin-top: 15%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(140, 172, 207);
    pointer-events: none;
}